@import 'components/schedule';
@import 'components/courseLibrary';

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.library {
    flex-grow: 2;
    height: 100vh;
    width: 62%;
    max-width: 62%;
    padding: 6rem;
    z-index: 1;
    position: absolute;
    left: 0;
}

.schedule {
    flex-grow: 1;
    height: 100vh;
    min-width: 38%;
    background: linear-gradient(118.95deg, #6F48CE 0%, #32CBE8 100%);
    text-align: center;
    padding: 12rem 6rem;
    position: fixed;
    right: 0;
}

.schedule-header {
    border: none;
    border-left: 1px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Alegreya', serif;
    line-height: 27px;
}

.library-header {
    border: none;
    border-left: 1px solid #487bce;
    color: #487bce;
    padding: 0 25px;
    font-family: Alegreya, serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 47px;
}

ul {
    list-style-type: none;
    margin: 0 25px;
    margin-top: 50px;
    padding: 0px;
    width: 120%;
}

ul li {
    margin: 10px 0;
    padding: 15px 25px 26px 25px;
}

.course-title {
    color: #4d4d4d;
    font-family: Lato;
    font-size: 16px;
}

.course-description {
    width: 60%;
    padding-top: 25px;
}

.course-description-title {
    color: #487bce;
    font-family: Alegreya;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.show-content {
    display: block;
}

.hide-content {
    display: none;
}